<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css"/>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAOr4bCj0Yr2mj5us0ABLhnIfTYQnsBxg">
  </script>
  <script type="text/javascript" src="scripts/script.js"></script>
</head>
<body>
  <div id="map-canvas"></div>
</body>
</html>
